@import '../../config/style/variables.scss';
@import '../../config/style/mixins.scss';


.card {
    @include shadow;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 3% 0;
    padding: 2%;

    &:hover {
        background-color: $light-grey !important; 
    }
}

.checkbox {
    width: 15px;
    height: 15px;
    margin-right: 9px;
}

.img {
    margin-right: 9px; 
}