@import '../../config/style/variables.scss';
@import '../../config/style/mixins.scss';

.videos {
    @include shadow;
    padding: 1%;
}

.video {
    border: 1px solid #CDCDCD;
    display: flex;
    border-radius: 3px;
    margin-bottom: 2%;
    padding: 1%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2%;
}

.author {
    font-size: 14px;
    color: $grey;
}